/*font-family: 'Architects Daughter', cursive;*/

:root {
  --modal-color: #ffdebd; /*crabby yellow*/
  --border-color: rgba(51, 51, 51, 0.5); /*darkgrey*/
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  margin-top: 100px;
}

h1 {
  margin-top: 15px;
  font-weight: bold;
}

.header {
  color: white;
  font-weight: bold;
  width: 640px;
  margin: auto;
  padding: 10px;
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 15px;
}

.button {
  color: black;
  background-color: white;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  width: 250px;
  }

.button:hover {
  box-shadow: 0 0 15px rgba(34, 60, 80, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
}
